<h1><%= @post.title %></h1>

<% @post.categories.each do |category| %>
  <button><%= category.name %></button>
<% end %><br>

<p><%= @post.content %></p>

<h2>User's Comments: </h2>

<%= form_for @post do |f| %>
  <%= f.collection_select :user, User.all, :id, :username %><br>
  <%= f.fields_for :users, @post.users.build do |users_fields| %>
    <%= users_fields.text_field :username %>
  <% end %>

  <%= f.fields_for :comments, @post.comments.build do |comments_fields| %>
    <%= comments_fields.text_area :content %>
  <% end %>

  <%= f.submit %>
<% end %>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul>

<% @post.users.uniq.each do |user| %>
  <p><%= link_to user.username, user_path(user) %></p>
<% end %>
